<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap mp rescap">

  <Identity
    Name="c7aa7ea3-0236-4e7b-9d69-dab715f1d97f"
    Publisher="CN=SIP"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="c7aa7ea3-0236-4e7b-9d69-dab715f1d97f" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>Serial_Test_UWP</DisplayName>
    <PublisherDisplayName>SIP</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="Serial_Test_UWP.App">
      <uap:VisualElements
        DisplayName="Serial_Test_UWP"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="Serial_Test_UWP"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
	  <rescap:Capability Name="broadFileSystemAccess" />
	  <DeviceCapability Name="serialCommunication">
		  <Device Id="any">
			  <Function Type="name:serialPort" />
		  </Device>
	  </DeviceCapability>
  </Capabilities>
</Package>